{{#each posts as |post|}}
<div class="text-center">
  <h1>{{post.title}}</h1>
  <p>created on {{format_date post.date_created}}</p>
 
</div>
{{/each}}

<h2><a href="/dashboard/newpost">Create a New Post</a></h2>
